*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  font-size: calc(2vw + 1.5px);
}

//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 80%;
  margin: 2vh auto;

  img {
    height: 50px;
  }

  p {
    position: absolute;
    visibility: hidden;
  }
}



#contact_modal {
  display: none;
  position: relative;
}


.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  align-items: center;


  img {
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 5px 20px 5px grey;
    order: 3;
  }
}




//info container
.info-card {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact_button {
  font-size: 0.5em;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 10vw;
  height: 7vh;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  order: 2;
  transform: translateX(-5vw);

  &:hover, &:focus {
    background-color: #D3573C;
    color: black;
  }
}

//partie filter
.filter {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 25vw;
  height: 5vh;
  margin: 2vh 9.5vw;
  margin-top: 4vh;
  position: relative;

  p {
    font-size: 0.6em;
    font-weight: bold;
  }

  button {
    background: #901C1C;
    color: #FAFAFA;
    font-size: 0.6em;
    border-radius: 5px;
    border: none;
    width: 10vw;
    height: 7.5vh;
    cursor: pointer;
    position: relative;
 

    span {
      font-family: "DM Sans", sans-serif;
      font-weight: normal;
      position: absolute;
      top: 28%;
      left: 8%;
      font-size: 0.9em;
      

    }

    i {
      position: absolute;
      top: 30%;
      left: 65%;
      font-size: 0.9em;

    }

    &:hover, &:focus {
      background: #D3573C;
    }

  }

  .down {
    display: none;
  }

  .specs {
    border-radius: 10px;
  }

  ul {
    transform: translateY(33.5%);
    width: 8vw;
    position: relative;
    z-index: 5;
  }


  li {

    position: relative;
    cursor: pointer;
    list-style-type: none;
    background: #901C1C;
    width: 10vw;
    height: 7.5vh;
    color: #FAFAFA;
    font-size: calc(0.6em * 0.9);
    z-index: 5;
        border: none;
    

    span {
      font-weight: normal;
      position: absolute;
      top: 28%;
      left: 8%;
    }
       i {
      position: absolute;
      top: 30%;
      left: 65%;
      font-size: 1em;

    }
   


    &:hover, &:focus {
      background: #D3573C;
     
    }
  }

hr {
  color: #901C1C;
  background: #901C1C;

  
}
  i {

    color: #FAFAFA;
    font-size: 20px;
    margin-left: 25px;
  }

  .popularity {
    position: relative;
    border-radius: 5px 5px 0 0;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 0.1vh;
      background: #FAFAFA;
      
    }
  }

  .date {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 0.1vh;
      background: #FAFAFA;
      
    }
  }

  .title {
    border-radius: 0 0 5px 5px;
  }
}

//grid

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vh 8vw;
  width: 80%;
  margin: 8vh auto;
  justify-content: space-between;
  align-items: center;

}

//div child of grid (img + description)
.grid-div {
  img {
    width: 20vw;
    height: 35vh;
    object-fit: cover;
    border-radius: 5px;
  }

  video {
    width: 20vw;
    height: 35vh;
    border-radius: 5px;
    object-fit: cover;
  }
  
}

//le bloc description entier
.global-container {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  font-size: 0.7em;
  width: 20vw;
}

.description-grid {}

.description-grid2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

//title of the photography
.pTitle {
  //display ... when the text is too long
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15vw;
}

//number of likes
.pLikes {}


//coeur subtitle
.coeur {
  cursor: pointer;
}

//date invisible
.invisibleDate {
  display: none;
}


//sticky like bar
.sticky {
  position: fixed;
  background: #D3573C;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  font-size: 0.6em;
  height: 8vh;
  width: 15vw;
  bottom: 0;
  right: 5%;
  border-radius: 10px 10px 0 0;
  z-index: 2;

}

/* MODAL et JS */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin: auto;
  margin-top: 5vh;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  z-index: 3;
  overflow-y: scroll;
  height: 80vh;
  
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3vh;
}

.modal header img {
  cursor: pointer;
  transform: translateX(-2vw);
}

.modal header h2 {
  font-size: 1.6em;
  font-weight: bold;
  span {
    display: block;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 0.9em;
  margin-top: 2vh;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  width: 100%;
  height: 5vh;
  border: none;
  border-radius: 5px;
  text-indent: 1vw;
}

#message  {
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 5px;
  text-indent: 1vw;
  position: relative;
  &::placeholder {
    font-family: "DM Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.center_button {
   margin-top: 3vh;
  transform: none;
}


/* éléments JS */

.name {
  color: #d3573c;
  font-size: 1.6em;
  font-weight: 500;
}

.location {
  color: #901c1c;
  font-size: 0.8em;
}

.tagline {
  font-size: 0.5em;
}

//formulaire contactez-moi

.errorClass {
  color: rgb(139, 27, 27);
  font-size: 0.6em;
}


//Lightbox

#lightbox-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  z-index: 5;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-xmark {
 position: absolute;
  top: 10%;
  right: 5%;
  font-size: 70px;
  color: #901C1C;
}

.lightbox-image {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.lightboxImageContainer {
 
 
  img {
    margin: 0px auto;
    object-fit: contain;
    max-height: 1000px;
    max-width: 100%;
    border-radius: 10px;

    @media (max-width: 1500px) {
         max-height: 600px;
    max-width: 1200px;
    }
}
 video {
  width: 100%;
  height: 100%;
  border-radius: 10px;

   @media (max-width: 1700px) {
         max-height: 600px;
          max-width: 1200px;
    }
}
}

.lightboxDescription {
    color: #901C1C;
    width: 100%;
    text-align: left;
  }


.chevron-right {
  position: absolute;
  right: 5%;
  background: #FAFAFA;
  font-size: 70px;
  color: #901C1C;
}

.chevron-left {
  position: absolute;
  left: 5%;
  background: #FAFAFA;
  font-size: 70px;
  color: #901C1C;
}