*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 80%;
  margin: 2vh auto;

  img {
    height: 50px;
  }

  p {
    position: absolute;
    visibility: hidden;
  }
}



#contact_modal {
  display: none;
  position: relative;
}


.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  align-items: center;


  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 5px 20px 5px grey;
    order: 3;
  }
}




//info container
.info-card {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  order: 2;
  transform: translateX(-5vw);
}

//partie filter
.filter {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 25vw;
  height: 5vh;
  margin: 2vh 9.5vw;
  position: relative;

  p {
    font-size: 20px;
    font-weight: bold;
  }

  button {
    background: #901C1C;
    // padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    width: 8vw;
    height: 6vh;
    cursor: pointer;
    position: relative;
 

    p {
      font-family: "DM Sans", sans-serif;
      font-weight: normal;
      position: absolute;
      top: 28%;
      left: 8%;
      font-size: 125%;
      

    }

    i {
      position: absolute;
      top: 35%;
      left: 70%;
      font-size: 110%;

    }

    &:hover {
      background: #D3573C;
    }

  }

  .down {
    display: none;
  }

  .specs {
    border-radius: 10px;
  }

  ul {
    transform: translateY(31%);
    width: 8vw;
    position: relative;
    // position: absolute;
    // top: -7%;
  }


  li {

    cursor: pointer;
    list-style-type: none;
    background: #901C1C;
    padding: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 155%;

    p {
      font-weight: normal;
      // font-size: 130%;
    }


    &:hover {
      background: #D3573C;
    }
  }

hr {
  color: #901C1C;
  background: #901C1C;

  
}
  i {

    color: white;
    font-size: 20px;
    margin-left: 25px;
  }

  .popularity {
    position: relative;
    i {
      position: absolute;
      font-size: 95%;
      top: 40%;
      left: 70%;

    }
  }
}

//grid

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vh 8vw;
  width: 80%;
  margin: 10vh auto;
  justify-content: space-between;
  align-items: center;

}

//div child of grid (img + description)
.grid-div {

  img {
    width: 20vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 5px;
  }

  video {
    width: 20vw;
    height: 30vh;
    border-radius: 5px;
    object-fit: cover;
    
  }
}

//le bloc description entier
.global-container {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  font-size: 24px;
  width: 20vw;
}

.description-grid {}

.description-grid2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

//title of the photography
.pTitle {
  //display ... when the text is too long
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15vw;
}

//number of likes
.pLikes {}


//coeur subtitle
.coeur {
  cursor: pointer;
}

//date invisible
.invisibleDate {
  display: none;
}


//sticky like bar
.sticky {
  position: fixed;
  background: #D3573C;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  font-size: 220%;
  height: 8vh;
  width: 15vw;
  bottom: 0;
  right: 5%;
  border-radius: 10px 10px 0 0;
  z-index: 2;

}

/* MODAL et JS */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 5vh;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  z-index: 3;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-top: 2vh;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.textmessage {
  height: 15vh;
}


.center_button {
transform: none;
}


/* éléments JS */

.name {
  color: #d3573c;
  font-size: 56px;
  font-weight: 500;
}

.location {
  color: #901c1c;
  font-size: 30px;
}

.tagline {
  font-size: 18px;
}

//formulaire contactez-moi

.errorClass {
  color: rgb(139, 27, 27);
  font-size: 20px;
}


//Lightbox

#lightbox-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 5;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-xmark {
 position: absolute;
  top: 10%;
  right: 6%;
  font-size: 70px;
  color: #901C1C;
}

.lightbox-image {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 70%;
height: 80%;
 img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
}

.chevron {
width: 15%;
background: white;
font-size: 70px;
color: #901C1C;
display: flex;
justify-content: center;
align-items: center;
}

