// @import url("photographer.css");

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 80%;
    margin: 2vh auto;
 
    a {
        position: relative;
        display: flex;   
    }

    img {
            height: 50px;
    }

    p {
        position: absolute;
        visibility: hidden;
    }

    h1 {
        color: #901C1C;
    }
}





// PARTIE GEREE EN JAVASCRIPT - PHOTOGRAPHER CARDS
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 10vh;
    
    //CONTAINER FOR PHOTOGRAPHER CARDS
    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    //Link element of article 
    article a {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        gap: 1.5vh;
        text-decoration: none;
    }
    //PHOTOGRAPHER NAME
    article h2 {
        color: #D3573C;
        font-size: 36px;
    }

    //PHOTOGRAPHER PHOTO
    article img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 1px 5px 20px 5px grey;
    }

    //Classes importées depuis le JS
    .name {
    font-weight: 500;
    
    }
    .location {
        color: #901C1C;
        font-size: 90%;
    }
    
    .tagline {
    font-size: 70%;
    }
    
    
    .price {
    color: rgba(117, 117, 117, 1);
    font-size: 65%;
    }
}





